body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background-color: #ddd;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
}

a:hover {
  color: #666;
}

h1,
h2,
h3 {
  margin: 0 0 0.2em 0;
}
